body {
    margin: 0;
}

.header {
    color: white;
    background-color: black;
    height: 2.7rem;
    display: flex;
    justify-content: end;
    padding-top: 0.3rem;
    z-index: 999;
}

.fixed-container {
    position: fixed;
    width: 100%;
    z-index: -999;
}

.menu-item {
    color: white;
    padding-top: 0.2rem;
    margin-right: 1.3rem;
    height: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}


/* .poster {
    width: 100%;
    height: 30rem;
    overflow: hidden;
} */


.img-container {
    width: 100%;
    /* Ширина контейнера */
    height: 40rem;
    /* Высота контейнера */
    overflow: hidden;
    /* Скрыть обрезанные части изображения */
    position:absolute;
    z-index: -999;
}

.img-container img {
    width: 100%;
    /* Автоматическая ширина, чтобы сохранить пропорции изображения */
    height: 100%;
    /* Сделать высоту изображения 100% от высоты контейнера */
    object-fit: cover;
    /* Обрезать изображение, чтобы оно заполнило контейнер */
    object-position: center;
    /* Центрировать изображение */
}

.elem {
    
    height: 1000px;
    background-color: white;
    z-index: 999;
}

.first-poster {
    display: flex;
    justify-content: center;
}

.elem1 {
    height: 30rem;
}

.first-poster-text {
    color: white;
    font-size: 24px;
}

.first-poster-header {
    color: white;
    font-size: 72px;
}

